@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #171717 !important;
}

.border-spacing {
  border-spacing: 0px 10px;
}


@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

:root {
  --up: 3;
  --card-margin: 12px;
  --card-shadow: rgba(46, 49, 52, .4);
  --color-white: #fff;
  --color-lightgrey: #ccc;
  --color-ui: #999;
  --color-ui-hover: #666;
  --cardWidth: calc((1536px - 3rem)/var(--up));
  --carousellWidth: calc(var(--cardWidth) * var(--num));
  --carousellLeftMargin: calc(0vw - var(--cardWidth));
}


@media screen and (max-width: 1536px) {
  :root {
    --cardWidth: calc((1280px - 3rem)/var(--up));
  }
}
@media screen and (max-width: 1280px) {
  :root {
    --up: 2;
    --cardWidth: calc((1024px - 3rem)/var(--up));
  }
}
@media screen and (max-width: 1024px) {
  :root {
    --up: 1;
    --cardWidth: calc((100vw - 3rem)/var(--up));
  }
}

.carousellwrapper {
  overflow: hidden;
  position: relative;
}

.carousell {
  width: var(--carousellWidth);
  margin: 0 0 0 var(--carousellLeftMargin);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

}

.carousell.prev {
  animation-duration: .6s;
  animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  animation-name: prev;
}

.carousell.next {
  animation-duration: .6s;
  animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  animation-name: next;
}

.carousell li {
  /* padding: 50px; */
  text-align: center;
  width: calc(var(--cardWidth) - var(--card-margin) * 2);
  box-sizing: border-box;
}

.ui {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: var(--card-margin);
  z-index: 100;


}

.ui button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-ui);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--color-white);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, .25);
  border: 0;
  transition: all .2s cubic-bezier(0.39, 0.575, 0.565, 1);


}

.ui button:hover {
  background: var(--color-ui-hover);
}

.ui button:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 1);
}

.card {
  /* box-shadow: 0px 1px 2px 0px var(--card-shadow); */
  border-radius: 4px;
  margin: var(--card-margin);
  /* background-color: white; */

}

.card.material-icons {
  font-size: 4.8rem;
}

.card p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4rem;
  margin-bottom: 0;
}

@keyframes next {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(calc(0px + var(--cardWidth)));
  }
}

@keyframes prev {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(calc(0px - var(--cardWidth)));
  }
}